.logo{
  display: grid;
  grid-auto-flow: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(144deg, rgba(45,213,250,1) 0%, rgba(10,86,161,1) 100%);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 90px;
  top: 0;
  /* position: fixed; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
    grid-auto-flow: column;
    place-items: center;
    width: 100%;
    height: 90px;
  }
  
  .navbar li {
    width: min-content;
    /* height: 100%; */
    /* flex: 1; */
    margin: 0;
    padding: 0;
    text-align: center;
    place-items: center;
    /* padding: 10px; */
    display: flex;
    grid-auto-flow: column;
  }
  
  .navbar ul li {
    display: flex;
    
    /* width: 100%; */
    /* text-align: center; */
    /* place-items: center; */
  }
  
  .navbar ul li img {
    /* margin: auto; */
    /* float: left; */
    width: 90px;
    height: 90px;
  }
  
  .navbar ul li p{
    /* float: left; */
    /* text-align: center; */
    width: min-content;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }